header{
	padding-top: 2px;
	height:50px;
	width:100%;
	overflow:hidden;
	background-color: rgb(241,241,241);
	

}
ul{
	
	list-style-type:none;
	display:inline;
	padding:0;

}
li{
	display:inline-block;
	font-size:85%;
	color:#808080;

	

}

div#crop{
	
	width:150px;
	height:40px;
	margin-left: -20px;
	margin-bottom:-10px;
	overflow:hidden;
	
}
div#search{
     
	display:inline-block;
	width:450px;
	height:31px;
	border-color:black;
	border-width:1px;
	border-style:solid;
	border-color:#808080;
	background-color: white;
	
	padding-left:15px;
	
}
#search p{
	display:inline-block;
	font-size:medium;
	color:black;




}

#search img{
	display:inline:block;
	padding-left:325px;
	

	
}

#gmail{
	padding-left:300px;
	padding-right: 15px;
}
#img{
	padding-right: 15px;
}
#app_logo{
	vertical-align: middle;

 	

}
#app{
	display:inline-block;
	height:60px;
	line-height: 60px;
	padding-right: 10px;
	
}
#bell_img{
	border-radius: 50%;
	overflow:hidden;
	vertical-align: middle;
}
#bell{
	width:25px;
	height:100%;
	line-height: 100%
	
	
	
}
#picme{
	border-radius: 50%;
	overflow: hidden;
	vertical-align: middle;
}

 #pic{
    display: inline-block;
    width:31px;
    height:100%;
    line-height: 100%;
 	
	
	
	}
	#space{
		width:20px;
		height:25px;
		background-color: rgb(241,241,241);
		
	}
	nav{
		height:48px;
		font-family: Arial;
		width:100%;
		overflow:hidden;
		border-top:solid 1px #808080;
		border-bottom:solid 1px #808080;
		padding-top: 5px;
		margin-bottom: 25px;

		 


	}
	#private{
		display: inline-block;
		width:25px;
		height:100%;
		vertical-align: middle;
		padding-left:338px;
		
		margin-bottom: -5px;
		
	}
	#world{
		display:inline-block;
		height:100%;
		
		vertical-align: middle;
		width:39px;
		padding-top: 7px;
		overflow:hidden;

		
	}
	nav ul li{
		padding-right:19px;
		margin-bottom: -18px;


	}
	nav ul li:nth-child(1){
		padding-left:139px;
		text-decoration: underline;
		color:#ff0000;
	}
#setting{
	display:inline-block;
	height:100%;
	line-height:100%;
	width:25px;
	padding-left: 84px;
}
#setting_img{
vertical-align: middle;
}
#main {
	
	width:515px;
	margin-left: 140px;
	font-family: Arial;
	float:left;

}



p.title{
	font-size: 18px;
	line-height: 20px;
	color:#0000ff;
	margin-top:0em;
	margin-bottom: 0em;

}
p.webad{
	color:green;
	font-size: 14px;
	line-height: 18px;
	margin-top: 0em;
	margin-bottom: 0em;

}
p.info, .second{
	color:#808080;
	font-size:14px;
	margin-top: 0em;
	margin-bottom:0em;
	line-height: 18px;
}
p.last , .blu_info{
	font-size:14px;
	color:#0000ff;
	line-height: 18px;
	margin-top:0em;
	margin-bottom: 0em;
}
#vevo{
	float:left;
	padding-right:10px;
	padding-top: 5px;

}
div #news{
	color:#808080;
	font-size: 18px;
	line-height: 20px;
	margin-top:0em;
	margin-bottom:0em; 
	padding-top: 10px;
	padding-bottom: 15px;
	border-top:2px solid rgb(241,241,241);
	border-bottom: 2px solid rgb(241,241,241);
}
#band_pic{
	float:left;
	padding-right:10px;
	padding-top: 5px;
}
#rt_column{
	padding-left: 0px;
	width:420px;
	float:right;
	border-left: 2px solid rgb(241,241,241);
	border-right:2px solid rgb(241,241,241);
	margin-right: -5px; 

}

#Brittany{
	float:left;
}
#lrg_title{
	font-size: 30px;
	
	color:black;
}
#ads{
	
	width:18px;
	height:16px;
	border-radius:2px;
	font-size:15px;
	background-color: #efc439;
	color:white;
}
#listen{
	display:inline;
	margin-left: 22px;
	font-weight: normal;
	font-size: 18px;
	line-height: 20px;
}
#part_2{	padding-left:10px;


}
.to_rt{
	float:right;
}
.blu_info{
	display: inline;
	padding-left: 5px;
}
.third{
	font-size:14px;
	margin-top: 0em;
	margin-bottom:0em;
	line-height: 18px;
	color:#000000;
}
#available{
	font-size: 18px;
	line-height: 20px;
	color:#000000;
}
#blk_info{
	color:#000000;
	font-size: 14px;
	line-height: 18px;
	margin-top: 0em;
	margin-bottom: 0em;
	}